.wrapper{
    max-width: 1400px;
    height: 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: var(--clr-dark);
}

span{
    font-weight: bold;
}

.social{
    display: flex;
    gap:20px;
}
