.portfolio-global-container{
    height: auto;
    overflow: hidden;
    /* background: linear-gradient(180deg in oklab, var(--clr-accent),  var(--clr-dark)); */
}

.portfolio{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.portfolio-title{
    margin: 1rem auto 0%;
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    text-align: center;
}

.portfolio-bar{
    height: 10px;
    width:80%;
    background-color: var(--clr-dark);
    margin: 1rem auto 3rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.portfolio-category{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:2rem;
}

.portfolio-category-item{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-dark);
    color: var(--clr-light);
    border-radius: 10px;
    font-size: var(--fs-normal);
    font-weight: var(--fw-normal);
    width: auto;
    height: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    opacity: 1;
    transition: 0.1s;
    cursor: pointer;
    padding: 1rem;
}

.portfolio-category-item:hover{
    opacity: 0.5;
}

.portfolio-items{
    margin-top: 5rem;
    width: min(95%, 75rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;

}

.portfolio-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--clr-dark);
    border-radius: 10px;
    /* height: 22rem;
    width: 20rem; */
    box-shadow: var(--box-shadow);
    height: auto;
    width: auto;
}

.portfolio-item-img{
    /* height: 10rem;
    width: 16rem; */
    max-width: 20rem;
    max-height: 20rem;
    border-radius: 10px;
    object-fit: cover;
    border: 1px solid var(--clr-dark);
    margin-top: 1rem;
    
}

.portfolio-item-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--clr-dark);
    margin: 1rem 1rem;
    border-radius: 10px;
    text-align: justify;
    padding: 1rem;
    
}

.portfolio-item-text-title{
    font-weight: var(--fw-bold);
}

.portfolio-item-more{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    gap:1rem;
    margin-bottom: 1rem;

}

.portfolio-item-more-text-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: var(--fw-bolc);
    font-size: var(--fs-normal);
    gap:1rem;
}

.portfolio-item-more-text-item{
    border: 1px solid var(--clr-dark);
    border-radius: 5px;
    padding: 0.1rem;
    
}

.portfolio-item-more-img{
    width: 2rem;
    height: 2rem;
    opacity: 1;
    transition: 0.1s;
    cursor: pointer;
}

.portfolio-item-more-img:hover{
    opacity: 0.5;
}

.portfolio-expand{
    position: fixed;
    top: 15%;
    left: 15%;
    height: 70%;
    width: 70%;
    background-color: var(--clr-dark);
    z-index: 5;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-radius: 10px;
}

.portfolio-expand-item-title{
    background-color: var(--clr-dark);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.portfolio-expand-item-title-bar{
    height: 10px;
    width:80%;
    background-color: var(--clr-light);
    margin: 1rem auto 1rem;
    border-radius: 10px;
}

.portfolio-expand-item-text{
    margin: 50px auto 0%;
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    text-align: center;
    color: var(--clr-light);
}

@media (min-width:1025px){
    .portfolio-items{
        grid-template-columns: 1fr 1fr 1fr;
    
    }
}

@media (max-width:768px){
    .portfolio-items{
        grid-template-columns: 1fr;
    }

    .portfolio-item-img{
        max-width: 15rem;
    }
}