html, body{
  scroll-behavior:smooth;
  /* scroll-snap-type: y mandatory; */
  max-width: 100%;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
  cursor: none;
}

body{
  font-family: var(--ff-primary);
  font-size: var(--fs-normal);
}

:root{
  --ff-primary: "Poppins", sans-serif;
  --ff-secondary: "Inconsolata", monospace;

  --fw-normal: 400;
  --fw-medium:500;
  --fw-bold:600;

  --fs-normal: normal;
  --fs-title: 35px;
  /* --clr-light: #D9D9D9;
  --clr-dark: #284B63;
  --clr-accent: #3C6E71; */

  --clr-light:   #fffdf6;
  --clr-dark:  #494949;
  --clr-accent: #B4B4B8;
  --clr-accent-light: #fffdf6; 

  --box-shadow: rgba(49,49,49, 0.3) 0px 19px 38px, rgba(49,49,49, 0.22) 0px 15px 12px;

}

html,body{
  background-color: var(--clr-light);
  color:var(--clr-dark);
}

body::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
  color:inherit; /*take color from parent (body)*/
}

section{
  margin-bottom: 3rem;
}


@media (max-width:830px) {
  section{
    height:fit-content;
    scroll-snap-align:none;
  }

  html, body{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
}