html, body{
  scroll-behavior:smooth;
  scroll-snap-type: y mandatory;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--ff-primary);
}

:root{
  --ff-primary: "Inconsolata", sans-serif;
  --ff-secondary: "Inconsolata", monospace;

  --clr-light: #D9D9D9;
  --clr-dark: #284B63;
  --clr-accent: #3C6E71;

}

html,body{
  background-color: var(--clr-dark);
  color:var(--clr-light);
}

body::-webkit-scrollbar {
  display: none;
}

a{
  text-decoration: none;
  color:inherit; /*take color from parent (body)*/
}
section{
  height: 100vh;
  /* scroll-snap-align: center; */
}

@media (max-width:830px) {
  section{
    height:fit-content;
    scroll-snap-align:none;
  }

  html, body{
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
  }
}