.about{
    height: auto;
    overflow: hidden;
    padding-bottom: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    /* background: linear-gradient(180deg in oklab, var(--clr-accent), var(--clr-dark)); */
}

.title-about{
    margin: 1rem auto 0;
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    text-align: center;
    
}

.about-bar{
    height: 10px;
    width:80%;
    background-color: var(--clr-dark);
    margin: 1rem auto 3rem;
    border-radius: 10px;
    box-shadow: rgba(49,49,49, 0.3) 0px 19px 38px, rgba(49,49,49, 0.22) 0px 15px 12px;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid var(--clr-accent);
    background-color: var(--clr-light);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(49,49,49, 0.3) 0px 19px 38px, rgba(49,49,49, 0.22) 0px 15px 12px;
}

@media (max-width: 830px) {
    .img-bitmoji{
        display: none;
    }
    .about{
        height: fit-content;
    }
}

.img-bitmoji{
    height: 500px;
    border-radius: 10px;
    box-shadow: rgba(49,49,49, 0.3) 0px 19px 38px, rgba(49,49,49, 0.22) 0px 15px 12px;
}

.about-items{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:20px;
    font-size: var(--fs-normal);
    font-family: var(--ff-primary);
}

.about-item, .about-item-cv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    background-image: linear-gradient(
        90deg,
        var(--clr-accent-light) 0%,
        var(--clr-accent) 100%
    );
    border-radius: 10px ;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
    padding: 1em;
    text-align:justify;
}



.about-item:hover{
    background-size: 100% 100%;
}
.about-img{
    height: 40px;
    width: 40px;
    margin-bottom: 1em;
}






.light-button a.bt {
    position: relative;
    height: 200px;
    display: flex;
    align-items: flex-end;
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
  }
  
  .light-button a.bt .button-holder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background-color: #0a0a0a;
    border-radius: 5px;
    color: #0f0f0f;
    font-weight: 700;
    transition: 300ms;
    outline: #0f0f0f 2px solid;
    outline-offset: 20;
  }
  
  .light-button a.bt .button-holder svg {
    height: 50px;
    fill: #0f0f0f;
    transition: 300ms;
  }
  
  .light-button a.bt .light-holder {
    position: absolute;
    height: 200px;
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .light-button a.bt .light-holder .dot {
    position: absolute;
    top: 0;
    width: 10px;
    height: 10px;
    background-color: #0a0a0a;
    border-radius: 10px;
    z-index: 2;
  }
  
  .light-button a.bt .light-holder .light {
    position: absolute;
    top: 0;
    width: 200px;
    height: 200px;
    clip-path: polygon(50% 0%, 25% 100%, 75% 100%);
    background: transparent;
  }
  
  .light-button a.bt:hover .button-holder svg {
    fill: var(--clr-accent);
  }
  
  .light-button a.bt:hover .button-holder {
    color: var(--clr-accent);
    outline: var(--clr-accent) 2px solid;
    outline-offset: 2px;
  }
  
  .light-button a.bt:hover .light-holder .light {
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      var(--clr-accent) 0%,
      rgba(255, 255, 255, 0) 75%,
      rgba(255, 255, 255, 0) 100%
    );
  }
  