.about{
    height: auto;
    overflow: hidden;
    padding-bottom: 3rem;
    padding-right: 1rem;
    padding-left: 1rem;
    /* background: linear-gradient(180deg in oklab, var(--clr-accent), var(--clr-dark)); */
}

.title-about{
    margin: 1rem auto 0;
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    text-align: center;
    
}

.about-bar{
    height: 10px;
    width:80%;
    background-color: var(--clr-dark);
    margin: 1rem auto 3rem;
    border-radius: 10px;
    box-shadow: rgba(49,49,49, 0.3) 0px 19px 38px, rgba(49,49,49, 0.22) 0px 15px 12px;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border: 1px solid var(--clr-accent);
    background-color: var(--clr-light);
    border-radius: 10px;
    padding: 1rem;
    box-shadow: rgba(49,49,49, 0.3) 0px 19px 38px, rgba(49,49,49, 0.22) 0px 15px 12px;
}

@media (max-width: 830px) {
    .img-bitmoji{
        display: none;
    }
    .about{
        height: fit-content;
    }
}

.img-bitmoji{
    height: 500px;
}

.about-items{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap:20px;
    font-size: var(--fs-normal);
    font-family: var(--ff-primary);
}

.about-item, .about-item-cv{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;   
    background-image: linear-gradient(
        90deg,
        var(--clr-accent-light) 0%,
        var(--clr-accent) 100%
    );
    border-radius: 10px ;
    background-size: 0% 100%;
    background-repeat: no-repeat;
    transition: 0.5s;
    padding: 1em;
    text-align:justify;
}



.about-item:hover{
    background-size: 100% 100%;
}
.about-img{
    height: 40px;
    width: 40px;
    margin-bottom: 1em;
}





.button {
  --width: 100px;
  --height: 35px;
  --tooltip-height: 35px;
  --tooltip-width: 90px;
  --gap-between-tooltip-to-button: 18px;
  --button-color: var(--clr-dark);
  --tooltip-color: var(--clr-accent-light);
  width: var(--width);
  height: var(--height);
  background: var(--button-color);
  position: relative;
  text-align: center;
  border-radius: 0.45em;
  font-family: "Arial";
  transition: background 0.3s;
}

.button::before {
  position: absolute;
  content: attr(data-tooltip);
  width: var(--tooltip-width);
  height: var(--tooltip-height);
  background-color: var(--tooltip-color);
  font-size: 0.9rem;
  color: #111;
  border-radius: .25em;
  line-height: var(--tooltip-height);
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) + 10px);
  left: calc(50% - var(--tooltip-width) / 2);
}

.button::after {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--tooltip-color);
  left: calc(50% - 10px);
  bottom: calc(100% + var(--gap-between-tooltip-to-button) - 10px);
}

.button::after,.button::before {
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
}

.text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-wrapper,.text,.icon {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  color: #fff;
  cursor: pointer;
}

.text {
  top: 0
}

.text,.icon {
  transition: top 0.5s;
}

.icon {
  color: #fff;
  top: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.button:hover {
  background: var(--clr-dark);
}

.button:hover .text {
  top: -100%;
}

.button:hover .icon {
  top: 0;
}

.button:hover:before,.button:hover:after {
  opacity: 1;
  visibility: visible;
}

.button:hover:after {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button) - 20px);
}

.button:hover:before {
  bottom: calc(var(--height) + var(--gap-between-tooltip-to-button));
}
