.experiences-global-container{
    height: auto;
    overflow: hidden;
    background: linear-gradient(180deg in oklab, var(--clr-accent),  var(--clr-dark));
}

.experiences{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: auto;
}

.experiences-title{
    margin: 100px auto 0%;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.experiences-title-bar{
    height: 10px;
    width:80%;
    background-color: var(--clr-light);
    margin: 1% auto 4%;
    border-radius: 10px;
}

.experiences-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.experiences-items{
    display: flex;
    flex-direction: row;    
    justify-content:space-evenly;
    align-items:center;
}


.experiences-item{
    width: 300px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.experiences-item-title{
    background-color: var(--clr-dark);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}






.experiences-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


.experiences-bar-head{
    height: 20px;
    width: 20px;
    background-color: var(--clr-light);
    border: 1px solid var(--clr-dark);
    border-radius: 100%;
    border: 2px solid var(--clr-dark);
}

.experiences-bar-body{
    height: 300px;
    width: 10px;
    background-color: var(--clr-light);
    margin: auto 10px;
    border: 2px solid var(--clr-dark);
}