.experiences-global-container{
    height: auto;
    overflow: hidden;
    /* background: linear-gradient(180deg in oklab, var(--clr-accent),  var(--clr-dark)); */
}

.experiences{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

.experiences-title{
    margin: 1rem auto 0;
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    text-align: center;
    color: var(--clr-dark);
}

.experiences-title-bar{
    height: 10px;
    width:80%;
    background-color: var(--clr-dark);
    margin: 1rem auto 3rem;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
}

.experiences-title-category{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap:2rem;
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    text-align: center;
    cursor: pointer;
    margin-bottom: 2rem;
}

.experiences-title-category-item{
    opacity: 1;
    transition: 0.1s;
    cursor: pointer;
    border: 1px solid var(--clr-dark);
    border-radius: 10px;
    padding: 0.5rem 1rem;
    box-shadow: var(--box-shadow);
}

.experiences-title-img{
    width: 2rem;
    height: 2rem;
}

.experiences-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
 
}

.experiences-items{
    display: flex;
    flex-direction: row;    
    justify-content:space-between;
    align-items:center;
    height: auto;
    width: 100%;
    color: var(--clr-accent-light);
    
}


.experiences-item{
    height: auto;
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: var(--clr-dark);
    border-radius: 1rem;
    box-shadow: var(--box-shadow);
    word-wrap: break-word;
    padding:1rem;
    cursor: pointer;
}

.experiences-item:hover{
    opacity:0.5 !important;
}

.experiences-item-short-title{
    cursor: pointer;
}





.experiences-item-title{
    margin: 50px auto 0%;
    font-size: var(--fs-title);
    font-weight: var(--fw-bold);
    text-align: center;
    color: var(--clr-light);
}
.experiences-item-title-bar{
    height: 10px;
    width:80%;
    background-color: var(--clr-light);
    margin: 1rem auto 1rem;
    border-radius: 10px;
}
.experiences-item-text{
    padding: 2rem;;
}

.experiences-expand{
    position: fixed;
    top: 15%;
    left: 15%;
    height: 70%;
    width: 70%;
    background-color: var(--clr-dark);
    z-index: 5;
    overflow-y: scroll;
    word-wrap: break-word;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    border-radius: 10px;
}

.experiences-expand:hover{
    opacity: 1;
}

.experiences-expand::-webkit-scrollbar {
    display: none;
  }
/* 
.experiences-expand p{
    line-height: 150%;
} */

.experiences-item-title{
    background-color: var(--clr-dark);
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}






.experiences-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 5rem;
}


.experiences-bar-head{
    height: 10px;
    width: 10px;
    background-color: var(--clr-dark);
    outline: 8px inset var(--clr-light);
    border-radius: 100%;
    z-index: 0;
    box-shadow: var(--box-shadow);
    
}

.experiences-bar-body{
    height: 300px;
    width: 4px;
    background-color: var(--clr-dark);
    margin: auto 10px;
    box-shadow: var(--box-shadow);
    border-radius: 10px;
}

.experiences-empty{
    width: 15rem;
}


@media (max-width:830px) {
    .experiences-title-category{
        font-size: var(--fs-normal);
    }
    .experiences-empty{
        width: 10rem;
    }

    .experiences-item{
        width: 10rem;
    }

    .experiences-bar{
        width: 2rem;
    }

}