.home{
    height: calc(100vh - 100px);
    overflow: hidden;
    background: linear-gradient(180deg in oklab, var(--clr-dark), var(--clr-accent));
}

.intro {
    position: relative;
    padding-top: 5%;
}

.intro__img {
    box-shadow: var(--bs);
}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    
    .intro__img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
        border-radius: 10px;
    }    
    
    .section__subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% + 1.5em);
        border-radius: 10px;
    }
}


.section__title {
    margin-bottom: .25em;
}

.section__title--intro {
    font-weight: bold;
}

.section__title--intro strong {
    display: block;
}

.section__subtitle {
    margin: 0;
    font-size:medium;
}

.section__subtitle--intro {
    display: inline-block;
    background: var(--clr-light);
    padding: .25em 1em;
    font-family: var(--ff-secondary);
    margin-bottom: 10em;
    color: var(--clr-dark);
}

.text-container{
    font-family: var(--ff-secondary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    max-width: 1000px;
    text-align: center;
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-scroll{
  background: none;
  border:none;
  cursor: pointer;
}

.scroll__img{
    width: 50px;
}

.slidingText{
    position: absolute;
    font-size: 50vh;
    color: #06f7f709;
    bottom: -120px;
    white-space: nowrap;
    width: 50%;
}








.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: ;
    border-radius: 100px;
    font-weight: 600;
    color: var(--clr-accent);
    box-shadow: 0 0 0 2px #ffffff;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button svg {
    position: absolute;
    width: 24px;
    fill: var(--clr-accent);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: var(--clr-light);
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
    font-family: var(--ff-secondary);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: var(--clr-accent);
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: var(--clr-accent);
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px var(--clr-accent);
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }
  